@import 'fonts.css';
@import 'palette.css';

:root {
  color-scheme: light dark;
  &[data-theme='dark'] {
    color-scheme: dark;
  }
  &[data-theme='light'] {
    color-scheme: light;
  }

  --bg: light-dark(var(--white), var(--gray-800));
  --surface-bg: light-dark(var(--white), var(--gray-900));
  --text-color: light-dark(var(--gray-800), var(--gray-200));
  --text-color-dimmed: light-dark(var(--gray-600), var(--gray-400));
  --error-text-color: light-dark(var(--red-600), var(--red-400));

  --link-color: light-dark(var(--blue-500), var(--blue-400));
  --link-hover-color: light-dark(var(--blue-600), var(--blue-500));

  --duration-xs: 0.05s;
  --duration-sm: 0.1s;
  --duration-md: 0.15s;
  --duration-lg: 0.3s;
  --duration-xl: 0.5s;

  --radius-sm: 0.125rem;
  --radius-md: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 1rem;
  --radius-full: 9999px;

  --shadow-xs: 0 0 0.125rem oklch(0 0 0 / 0.1);
  --shadow-sm: 0 0.125rem 0.25rem oklch(0 0 0 / 0.12);
  --shadow-md: 0 0.25rem 0.5rem oklch(0 0 0 / 0.12);
  --shadow-lg: 0 0.5rem 1rem oklch(0 0 0 / 0.18);
  --shadow-xl: 0 1rem 2rem oklch(0 0 0 / 0.2);

  --bezier-smooth-entrance: cubic-bezier(0, 0, 0.2, 1);
  --bezier-soft-exit: cubic-bezier(0.4, 0, 1, 1);
  --bezier-smooth: cubic-bezier(0.4, 0, 0.2, 1);
  --bezier-bounce: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  --bezier-magnetic: cubic-bezier(0.175, 0.885, 0.32, 1.275);

  --space-xxs: 0.125rem;
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 0.75rem;
  --space-lg: 1rem;
  --space-xl: 1.75rem;
  --space-xxl: 3rem;

  --input-height: calc(3.5 * var(--font-size));
  --input-gap-x: calc(var(--font-size) / 2);
  --input-padding-inline: var(--font-size);
  --input-border-width: 2px;
  --input-border-color: light-dark(var(--gray-300), var(--gray-600));
  --input-border-hover-color: light-dark(var(--gray-400), var(--gray-500));
  --input-border-active-color: light-dark(var(--blue-500), var(--blue-500));
  --input-border-error-color: light-dark(var(--red-500), var(--red-500));
  --input-border-radius: var(--radius-md);

  --input-bg: transparent;
  --input-text-color: light-dark(var(--gray-900), var(--gray-100));
  --input-label-color: light-dark(var(--gray-800), var(--gray-300));
  --input-label-active-color: light-dark(var(--blue-600), var(--blue-300));

  --input-font-size: var(--font-size-md);

  --input-error-color: light-dark(var(--red-600), var(--red-400));
  --input-error-font-size: var(--font-size-sm);

  --input-hint-color: oklch(from var(--input-text-color) l c h / 0.5);

  --button-height: calc(var(--font-size) * 3);
  --button-border-width: var(--input-border-width);
  --button-border-radius: var(--input-border-radius);
  --button-primary-color: light-dark(var(--blue-500), var(--blue-500));
  --button-neutral-color: light-dark(var(--gray-500), var(--gray-400));
  --button-danger-color: light-dark(var(--red-500), var(--red-500));

  --tab-height: calc(var(--font-size) * 3);
  --tab-font-size: var(--font-size-md);
  --tab-color: var(--text-color);
  --tab-bg: var(--surface-bg);
  --tab-border-width: var(--input-border-width);
  --tab-active-color: var(--link-color);
  --tab-active-border-color: var(--link-color);
  --tab-active-bg: var(--surface-bg);

  --ripple-opacity: 0.2;
  --ripple-duration: 550ms;
  --ripple-color: currentColor;
  --ripple-bezier: var(--bezier-smooth-entrance);
}
