:root {
  --safe-area-top: env(safe-area-inset-top, 0px);
  --safe-area-right: env(safe-area-inset-right, 0px);
  --safe-area-bottom: env(safe-area-inset-bottom, 0px);
  --safe-area-left: env(safe-area-inset-left, 0px);
}

html {
  overflow-y: scroll;
  scrollbar-gutter: stable;

  &:has(dialog[open]) {
    overflow: hidden;
  }
}

body {
  min-height: 100dvh;
  font: var(--font-weight-normal) var(--font-size) var(--font-sans);
  line-height: var(--line-height);
  background-color: var(--bg);
  color: var(--text-color);
}

code,
pre,
kbd {
  font: var(--font-weight-normal) var(--font-size) var(--font-mono);
  color: var(--text-color);
}

#app {
  min-height: 100dvh;
  display: grid;
  container-type: inline-size;
}

a {
  --color: var(--link-color);
  color: var(--color);

  &:hover {
    --color: var(--link-hover-color);
  }
}
