*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 100%;
}

body {
  margin: 0;
  min-block-size: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
svg,
canvas,
video {
  display: block;
}

button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
}

textarea {
  resize: vertical;
}

a {
  text-decoration: none;
}

fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

input,
textarea,
select,
button,
a {
  outline: none;
}
